:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.1rem;
}

.header-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--text-color);
  filter: drop-shadow(5px 5px 10px #00000022);
}

.logo-icon {
  width: 1.938rem;
  height: 5.875rem;
}

.nav {
  display: flex;
  margin: 0 auto;
  /* justify-content: center;
    align-items: center; */
  gap: 1.8rem;
  position: absolute;
  left: 53%;
  transform: translateX(-53%);
  backface-visibility: hidden;
}

.nav-link:hover {
  color: var(--link-color);
  transform: scale(1.05);
}

.nav-link {
  color: #718096;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjusts how far down the line sits */
  width: 0; /* Starts with 0 width (invisible) */
  height: 2px; /* Thickness of the black bar */
  background-color: var(--link-color);
  transition: width 0.3s ease; /* Makes it smooth */
}

/* This makes the bar grow to 100% width on hover */
.nav-link:hover::after {
  width: 100%;
}
.contact-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.375rem;
  color: var(--light-gray);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}
.contact-btn:hover {
  background-color: rgba(58, 60, 210, 0.875);
  transform: scale(1.05);
  cursor: pointer;
}

.ri-menu-3-fill {
  display: none;
}

.main-section {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
}

.content-left {
  text-align: center;
  animation: slideFromLeft 2s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section-title {
  font-size: 2.3rem;
  padding: 1.1rem;
  color: var(--text-color);
  font-weight: 800;
}

.section-desc {
  color: var(--gray);
  font-size: 1.15rem;
}

.btn-grp {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.start-btn,
.tour-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.375rem;
  color: var(--light-gray);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.tour-btn {
  background-color: var(--dark-gray);
}

.start-btn:hover {
  background-color: rgba(58, 60, 210, 0.875);
  transform: scale(1.05);
  cursor: pointer;
}

.tour-btn:hover {
  background-color: rgba(23, 23, 24, 0.875);
  transform: scale(1.05);
  cursor: pointer;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  border-radius: 0.725rem;
  overflow: hidden;
  box-shadow: 2px 3px 11px 2px rgba(0, 0, 0, 0.37);
  height: 55vh;
}

.section-img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 3rem 2rem;
  padding-left: 0;
  background-color: var(--light-gray);
  border-radius: 0.625rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: slideFromLeft 2s ease forwards;
  width: 100%;
  /* overflow: hidden; */
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  color: var(--gray);
  padding: 1.1rem;
}

.logo-txt {
  font-size: 1.1rem;
}

.svg-img {
  height: 2.3rem;
}

@media screen and (min-width: 850px) {
  .company-container {
    margin-top: 5rem;
  }

  .company-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.2rem;
    animation: slideFromLeft 2s ease forwards;
    width: 60%;
  }

  .company-container h2 {
    font-size: 2.3rem;
  }

  .logo-txt {
    font-size: 1rem;
  }

  .svg-img {
    height: 2rem;
  }
}

.feature-container {
  background-color: var(--light-gray);
  padding: 2.5rem 0;
  text-align: center;
}

.feature-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.main-description {
  color: var(--gray);
  font-size: 1rem;
}

.feature-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  /* grid-template-rows: repeat(3,1fr); */
}

.feature-svg {
  width: 1.5rem;
  height: 1.5rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4e75c9;
  padding: 1.8rem;
  border-radius: 0.625rem;
  gap: 1rem;
}

.feature-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-title,
.feature-description {
  color: var(--background-color);
}
.feature-title {
  font-weight: 900;
  font-size: 1.2rem;
}

.feature-card:nth-child(1) {
  background-color: #4a90e2;
}

.feature-card:nth-child(2) {
  background-color: #ff6289;
}

.feature-card:nth-child(3) {
  background-color: #fcbf58;
}

.feature-card:nth-child(4) {
  background-color: #44bfc3;
}

.feature-card:nth-child(5) {
  background-color: #77b05d;
}

.feature-card:nth-child(6) {
  background-color: #7d78b1;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.testimonial-container {
  background-color: var(--background-color);
  padding: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

.testimonial-title {
  font-size: 1.75rem;
  color: var(--text-color);
  font-weight: bold;
}

.testimonial-content {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(244, 239, 239);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.126);
  padding: 0.7rem 1.9rem;
  gap: 0.5rem;
  transition: transform 0.8s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.377);
  border: 1px solid var(--link-color);
}

.testimonial-text {
  font-size: 0.8rem;
  color: var(--gray);
  /* text-align: center; */
}

.testimonial-avatar img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  filter: drop-shadow(0px 2px 2px #000000);
}

.testimonial-name {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.testimonial-desc {
  font-size: 0.875rem;
  color: var(--gray);
}

.testimonial-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-container {
  background-color: var(--background-color);
  padding: 0.5rem;
  max-width: 1100px;
  margin: 0.5rem auto;
  height: 42vh;
  width: 95%;
}
.newsletter-content {
  display: flex;
  background-color: var(--light-gray);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  gap: 0.5rem;
}

.news-left {
  height: 100%;
  width: 50%;
  display: none;
}

.news-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.news-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.news-desc {
  font-size: 0.875rem;
  color: var(--gray);
}

.news-email {
  background-color: var(--background-color);
  padding: 0.4rem 0.4rem;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  border-radius: 4px;
  outline: none;
  color: #333;
  transition: border-color 0.8s ease, box-shadow 0.3s ease;
}

.news-email:focus {
  border-color: #2563eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.news-send-button {
  padding: 0.4rem 0.9rem;
  border-radius: 4px;
  border: white;
  color: var(--background-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.news-send-button:hover {
  transform: scale(1.05);
  background-color: #484be9;
}

.privacy-policy {
  font-size: 0.8rem;
}

.news-link {
  text-decoration: underline;
  color: #3f83f8;
}

.footer-container {
  background-color: var(--background-color);
  margin:0 auto;
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.footer {
  max-width: 1100px;
  padding: 1.2rem 2.4rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  /* gap: 10rem; */
}

.footer-top {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
  /* background-color: #484be9; */
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--text-color);
}
.logo-svg {
  width: 2rem;
  height: 6rem;
}

.comp-logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -1.9rem;
}

.filler-text {
  color: #777;
}
.social {
  /* margin-top: 1.2rem; */
  display: flex;
  gap: 1rem;
}
.social-icon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.15);
  filter: brightness(0) saturate(2%) invert(30%) sepia(80%)
          saturate(2100%) hue-rotate(215deg);
}

.footer-grid {
 
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 58%;
  grid-gap: 3rem;
  padding-top: 2rem 1.8rem;

}

.footer-grid-column{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-grid-heading{
  font-size: 1.05rem;
  font-weight: 900;
}

.footer-links-list{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-links-list li a{
  color: var(--gray);
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links-list li a:hover{
  color: #1a1919;
}

.line{
  border: 0.2px solid #77777747;
  max-width: 1100px;
}



.footer-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  color: var(--gray);
  font-size: 0.9rem;

}

@media screen  and (max-width:855px){

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.footer-grid{
  grid-template-columns: repeat(2,1fr);
  width: 100%;
}

.footer-top{
  width: 100%;
}

.footer-copyright{
  font-size: 0.8rem;

}

.line{
  width: 100%;
}
  
}
@media screen and (min-width: 855px) {
  .newsletter-container {
    height: 45vh;
    margin-top: 2.5rem;
  }

  .news-left {
    display: block;
  }

  .news-right {
    text-align: left;
  }

  .news-title {
    font-size: 2.2rem;
    font-weight: bolder;
    color: var(--primary-color);
  }

  .news-desc {
    font-size: 1rem;
    color: var(--gray);
  }

  .news-email {
    background-color: var(--background-color);
    padding: 0.5rem 0.5rem;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    border-radius: 4px;
    outline: none;
    color: #333;
    transition: border-color 0.8s ease, box-shadow 0.3s ease;
  }

  .news-send-button {
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    border: white;
    color: var(--background-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
}

@media screen and (max-width: 855px) {
  .feature-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 855px) {
  .main-section {
    flex-direction: row;
    /* gap: 6rem; */
    padding-left: 0;
    padding-right: 0;
  }

  .content-left {
    max-width: 50%;
    text-align: left;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .content-right {
    justify-content: flex-end;
    width: 50%;
  }

  .section-title {
    padding-left: 0;
    font-size: 3.2rem;
  }

  .btn-grp {
    padding-left: 0;
    justify-content: start;
  }

  .section-label {
    font-size: 1rem;
  }

  .image-container {
    height: 67vh;
  }

  .section-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .section-desc {
    font-size: 1.02rem;
    color: var(--gray);
    text-align: left;
    width: 78%;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 0px 0.8rem;
  }
}

@media screen and (max-width: 855px) {
  .header {
    padding: 0px 0.5rem;
  }

  .logo-text {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .logo-icon {
    width: 1.5rem;
    height: 5rem;
  }

  .nav,
  .contact-btn {
    display: none;
  }

  .ri-menu-3-fill {
    display: inline-block;
    font-size: 1.5rem;
  }
}
